body {
    font-family: Arial, sans-serif; 
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }

  .article-image {
    width: 100%; /* Set the width of the image */
    max-height: 370px; /* Set the maximum height of the image */
    object-fit: cover; /* Ensure the image covers its container */
  }
  

.article-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .article-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .article-content {
    font-size: 18px;
    font-weight: 400;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    word-spacing: 3px;
    letter-spacing: 0.5px;
    /* color: #333; */
  }

  .article-content p {
    margin-bottom: 20px; /* Add margin between paragraphs */
  }
  
  .article-content ol {
    margin-bottom: 20px; /* Add margin below ordered lists */
    padding-left: 20px;
  }
  
  .article-content li {
    margin-bottom: 10px; /* Add margin between list items */
  }

  .like-comment-section {
    display: flex;
    align-items: center;
  }
  
  .button-container {
    display: flex;
  }
  
  .button-container button {
    margin-right: 10px; /* Adjust spacing between buttons */
  }
  

  .like-comment-section button {
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(226, 43, 211);
  }

  .comments-container {
    margin-top: 20px;
  }

  .comment-box {
    max-height: 200px; /* Adjust maximum height as needed */
    padding: 10px; /* Adjust padding as needed */
    box-sizing: border-box; /* Include padding and border in the specified width and height */
    resize: none; /* Prevent textarea resizing */
  }

  .comment-box:active {
    /* Reset any styles that cause the comment box to expand */
    /* For example, you can set the height to its initial value */
    height: initial;
    /* Or you can set max-height to a fixed value */
    max-height: 200px; /* Adjust as needed */
  }

  .comment {
    margin-bottom: 10px;
  }

/* Style for comment box on small screens */
@media screen and (max-width: 768px) {
  .comment-box {
    max-height: 10px;
    padding: 8px;
    touch-action: manipulation; /* Prevent default touch actions like zooming */
  }
}